/* new css */

.email-preview {
    /* background-color: lightseagreen; */
    display: flex;
    font-size: 12px;
    width: 60vw;
}

.heading-grid {
    /* background-color: lightcoral; */
    flex-basis: auto;
}

.heading-content {
    /* background-color: seagreen; */
}

.heading-icon {
    vertical-align: middle;
}

.heading-text {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.subject-grid {
    /* background-color: lightgoldenrodyellow; */
    flex-basis: auto;
}

.subject-content {
    /* background-color: orange */
}

.subject-text {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.body-grid {
    /* background-color: lightgrey; */
    flex-basis: auto;
}

.body-content {
    /* background-color: orchid; */
    overflow: hidden;
}

.body-text {
    opacity: 0.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* time */

.time-preview {
    background-color: green;
    text-align: right;
}