.email-list-item-content{
    /* padding: 100px; */
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 16px;
    
}

.heading {

}

.heading-icon {
    vertical-align: middle;
}

.heading-text {
    font-weight: bold;
    padding-left: 10px;
}

.text-preview {

}

.subject-text-preview {
    font-weight: bold;
}

.body-text-preview {
    /* padding-left: 10px; */
    opacity: 0.5;
}

.bleh {
    border-left: solid 1px blue;
}