.email-list-item-content{
    background-color: lightgreen;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 16px;    
}

.expansion {
    background-color: aliceblue;
    overflow: hidden;
}